version = 1
[install]
gradle.pkg-path = "gradle"
jdk17.pkg-path = "jdk17"
[vars]
ANDROID_AVD_MIN = "pixel_API21_x86_64"
ANDROID_SYSTEM_IMAGE_MIN = "system-images;android-21;google_apis;x86_64"
ANDROID_AVD_LATEST_X86 = "medium_phone_API33_x86_64"
ANDROID_SYSTEM_IMAGE_LATEST_X86 = "system-images;android-33;google_apis;x86_64"
ANDROID_AVD_LATEST_ARM = "medium_phone_API33_arm64_v8a"
ANDROID_SYSTEM_IMAGE_LATEST_ARM = "system-images;android-33;google_apis;arm64-v8a"
ANDROID_EMULATOR_FLAGS = "-no-boot-anim -netdelay none -netspeed full -no-snapshot"
ANDROID_EMULATOR_HEADLESS_FLAGS = "-no-window -no-audio -gpu swiftshader_indirect"
[hook]
 on-activate = '''
  set -euo pipefail
  source "$(cd "$(dirname "${BASH_SOURCE[0]:-$0}")" && pwd)/setup.sh"
 '''
[profile]
[services]
[include]
environments = [
    { dir = "../../common" }
]
[build]
[options]
