version = 1


[install]
cocoapods.pkg-path = "cocoapods"
cocoapods.systems = ["x86_64-darwin", "aarch64-darwin"]


[vars]
IOS_SIM_LATEST_DEVICE = "iPhone 17"
IOS_SIM_LATEST_RUNTIME = "26.1"


[hook]
 on-activate = '''
  set -euo pipefail
  source "$(cd "$(dirname "${BASH_SOURCE[0]:-$0}")/.." && pwd)/setup.sh"
 '''


[profile]


[services]


[include]
environments = [
    { dir = "../common" },
    { dir = "../nodejs" }
]


[build]


[options]
