<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>169668264691-98m0t8lofv1nja1ki1hvi8j0heb5hesa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.169668264691-98m0t8lofv1nja1ki1hvi8j0heb5hesa</string>
	<key>API_KEY</key>
	<string>GOOGLE API KEY</string>
	<key>GCM_SENDER_ID</key>
	<string>169668264691</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.AnalyticsReactNativeExample</string>
	<key>PROJECT_ID</key>
	<string>segment-rn-analytics-tes-758c9</string>
	<key>STORAGE_BUCKET</key>
	<string>segment-rn-analytics-tes-758c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:169668264691:ios:1e6687e6b5ed544316ed86</string>
	<key>DATABASE_URL</key>
	<string>https://segment-rn-analytics-tes-758c9.firebaseio.com</string>
</dict>
</plist>
