<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447181399992-mv10i4tdu1hm2m41k4c538uldc0sjtvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447181399992-mv10i4tdu1hm2m41k4c538uldc0sjtvc</string>
	<key>API_KEY</key>
	<string>AIzaSyBd1rfdBKi15W_B7nxnw6QaTUZEsbZxOAk</string>
	<key>GCM_SENDER_ID</key>
	<string>447181399992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactNativeTest</string>
	<key>PROJECT_ID</key>
	<string>segment-react-native-test</string>
	<key>STORAGE_BUCKET</key>
	<string>segment-react-native-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447181399992:ios:7bca95b14ea38f8190114d</string>
	<key>DATABASE_URL</key>
	<string>https://segment-react-native-test.firebaseio.com</string>
</dict>
</plist>