version = 1


[install]
treefmt.pkg-path = "treefmt"
taplo.pkg-path = "taplo-cli"
nixfmt.pkg-path = "nixfmt-rfc-style"
shfmt.pkg-path = "shfmt"


[vars]

[hook]
 on-activate = '''
    export ROOT_PROJECT=$(git rev-parse --show-toplevel)
 '''


[profile]


[services]
[include]


[build]
# [build.myproject]
# description = "The coolest project ever"
# version = "0.0.1"
# command = """
#   mkdir -p $out/bin
#   cargo build --release
#   cp target/release/myproject $out/bin/myproject
# """


[options]
