name: E2E (Full)

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:
  pull_request:

concurrency:
  group: e2e-full-${{ github.ref }}
  cancel-in-progress: false

jobs:
  run-e2e-ios:
    strategy:
      matrix:
        include:
          - name: ios-min
            target: min
            runs_on: macos-14
          - name: ios-latest
            target: max
            runs_on: macos-26
    uses: ./.github/workflows/ios-e2e.yml
    with:
      target: ${{ matrix.target }}
      runs_on: ${{ matrix.runs_on }}
    secrets: inherit

  run-e2e-android:
    strategy:
      matrix:
        include:
          - name: android-min
            target: min
          - name: android-latest
            target: max
    uses: ./.github/workflows/android-e2e.yml
    with:
      target: ${{ matrix.target }}
    secrets: inherit
