name: E2E (Nightly)

on:
  schedule:
    - cron: '0 6 * * *'
  workflow_dispatch:

concurrency:
  group: e2e-nightly-${{ github.ref }}
  cancel-in-progress: false

jobs:
  run-e2e-ios:
    runs-on: macos-15
    env:
      YARN_ENABLE_HARDENED_MODE: 0
      XCODE_VERSION: '26.2'
    strategy:
      matrix:
        include:
          - name: ios-min
            ios-device: iPhone 13
            ios-runtime: '15.0'
          - name: ios-latest
            ios-device: iPhone 17
            ios-runtime: ''
    steps:
      - uses: actions/checkout@v4
      - name: Aggressive disk cleanup (macOS)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /Applications/Android\ Studio.app
          sudo rm -rf /usr/local/share/miniconda
          sudo rm -rf /opt/homebrew
          sudo rm -rf "$HOME/Library/Android"
          sudo rm -rf "$HOME/.gradle"
          sudo rm -rf "$HOME/Library/Developer/CoreSimulator/Devices"
          sudo rm -rf "$HOME/Library/Developer/Xcode/DerivedData"
          df -H
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.2'
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'false'
      - name: iOS E2E Tests
        env:
          DETOX_IOS_DEVICE: ${{ matrix.ios-device }}
          IOS_RUNTIME: ${{ matrix.ios-runtime }}
        run: devbox shell --omit-nix-env -- devbox run test-ios

  run-e2e-android:
    runs-on: ubuntu-22.04
    env:
      EMU_HEADLESS: 1
    strategy:
      matrix:
        include:
          - name: android-min
            avd-name: pixel_API21_x86_64
          - name: android-latest
            avd-name: medium_phone_API33_x86_64
    steps:
      - uses: actions/checkout@v4
      - name: Aggressive disk cleanup (Ubuntu)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/lib/node_modules
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/edge_driver
          sudo rm -rf /usr/local/share/gecko_driver
          sudo rm -rf /usr/local/share/phantomjs
          sudo rm -rf "$HOME/.cache"
          df -H
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'false'
      - name: Android E2E Tests
        env:
          DETOX_AVD: ${{ matrix.avd-name }}
        run: devbox run test-android
