name: CI Fast

on:
  push:
    branches: [master, beta]
  pull_request:
    branches: [master, beta]

concurrency:
  group: ci-fast-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Aggressive disk cleanup (Ubuntu)
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -rf /opt/hostedtoolcache/CodeQL
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/lib/node_modules
          sudo rm -rf /usr/local/share/boost
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/local/share/powershell
          sudo rm -rf /usr/local/share/edge_driver
          sudo rm -rf /usr/local/share/gecko_driver
          sudo rm -rf /usr/local/share/phantomjs
          sudo rm -rf "$HOME/.cache"
          df -H
      - name: Free Disk Space (Ubuntu)
        uses: jlumbroso/free-disk-space@v1.3.1
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'false'
      - name: build
        run: devbox run --config=shells/devbox-fast.json build
