name: CI Fast

on:
  push:
    branches: [master, beta, ci2]
    paths-ignore:
      - 'docs/**'
      - 'wiki/**'
      - '**/*.md'
  pull_request:
    branches: [master, beta]
    paths-ignore:
      - 'docs/**'
      - 'wiki/**'
      - '**/*.md'

concurrency:
  group: ci-fast-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Yarn cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/yarn
            .yarn/cache
          key: yarn-${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            yarn-${{ runner.os }}-
      - name: Install flox
        uses: flox/install-flox-action@v2.2.0
      - name: Build, lint, and test
        run: flox activate -d env/nodejs -- bash -lc "yarn install --immutable && yarn format:check && yarn test:fast"
