name: CI
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:
jobs:
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
    - uses: styfle/cancel-workflow-action@0.9.1
      with:
        workflow_id: ${{ github.event.workflow.id }}
  build-and-test:
    needs: cancel_previous
    runs-on: 'ubuntu-latest'
    steps: 
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Build
        run: yarn build
      - name: Test
        run: yarn test --coverage
      

  run-e2e-ios:
    needs: cancel_previous
    runs-on: 'macos-11'
    steps: 
      - uses: actions/checkout@v2

      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: 12.5.1

      - name: Install applesimutils
        run:  |
          HOMEBREW_NO_AUTO_UPDATE=1 brew tap wix/brew >/dev/null
          HOMEBREW_NO_AUTO_UPDATE=1 brew install applesimutils >/dev/null

      - name: Bootstrap
        run: yarn bootstrap

      - name: Run Server (with mocks)
        run: yarn example start:e2e &

      - name: Detox - Build
        run: yarn example build:ios

      - name: Detox - Test
        run: |
          yarn example detox clean-framework-cache
          yarn example detox build-framework-cache
          yarn example test:ios

  run-e2e-android:
    needs: cancel_previous
    runs-on: 'macos-11' # This is important, linux cannot run the emulator graphically for e2e tests
    strategy:
      matrix:
        api-level: [21]
        profile: ['pixel_xl']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'
          cache: 'gradle'
        
      - name: Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}

      - name: AVD cache
        uses: actions/cache@v2
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}-${{matrix.profile}}

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          profile: ${{matrix.profile}}
          name: Pixel_API_21_AOSP
          target: default
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

      - uses: actions/setup-node@v2
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Bootstrap
        run: yarn install && yarn example install # No need to run bootstrap here since we don't need cocoapods
      - name: Run Server (with mocks)
        run: yarn example start:e2e &
      - name: Detox - Build
        run: yarn example build:android

      - name: Detox - Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          profile: ${{matrix.profile}}
          avd-name: Pixel_API_21_AOSP
          target: default
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: yarn example test:android

      

