name: CI
on:
  push:
    branches: [master, beta]
  pull_request:
    branches: [master, beta]
  workflow_dispatch:
jobs:
  cancel_previous:
    runs-on: ubuntu-latest
    steps:
      - uses: styfle/cancel-workflow-action@0.12.1
        with:
          workflow_id: ${{ github.event.workflow.id }}
  build-and-test:
    needs: cancel_previous
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      # Workaround for corepack enable in node
      # Source: (https://github.com/actions/setup-node/issues/899#issuecomment-1828798029)
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
      - name: build
        run: devbox run build

  run-e2e-ios:
    runs-on: 'macos-15'
    env:
      YARN_ENABLE_HARDENED_MODE: 0
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '26.1.1'
      - uses: actions/checkout@v4
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
        # --omit-nix-env is important to use the macos system c toolchain instead of the nix toolchain
      - name: devbox shell
        run: devbox shell --omit-nix-env
      - name: setup ios devices
        run: devbox run setup-ios-devices
      - name: IOS E2E Tests
        run: devbox run test-ios

  run-e2e-android:
    runs-on: 'ubuntu-22.04'
    strategy:
      matrix:
        api-level: [24]
        profile: ['medium_phone']
    steps:
      - uses: actions/checkout@v4
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: 'true'
      - name: devbox shell
        run: devbox shell
      - name: Gradle cache
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}-${{ hashFiles('**/buildSrc/**/*.kt') }}
      - name: AVD cache
        uses: actions/cache@v4
        id: avd-cache
        with:
          path: |
            ~/.android/avd/*
            ~/.android/adb*
          key: avd-${{ matrix.api-level }}-${{matrix.profile}}

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          profile: ${{matrix.profile}}
          avd-name: Medium_Phone_API_24
          target: default
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."
      - name: Detox - Test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          profile: ${{matrix.profile}}
          avd-name: Medium_Phone_API_24
          target: default
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: devbox run test-android
