name: Publish

on:
  workflow_dispatch:
    secrets:
      GH_TOKEN:
        required: true
      NPM_TOKEN:
        required: true

jobs:
  publish:
    name: Publish to npm
    environment: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}
      - name: Checkout templates
        uses: actions/checkout@v4
        with:
          repository: segment-integrations/templates
          path: templates

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install flox
        uses: flox/install-flox-action@v2.2.0

      - name: Config, Build, Release
        run: flox activate -d . -- bash -lc "bash flox/scripts/release.sh"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Update Apps
        run: |
          env_dir="$(TEMPLATES_DIR="$GITHUB_WORKSPACE/templates" scripts/ci-env.sh fast)"
          flox activate -d "$env_dir" -- bash -lc "yarn install --no-immutable && yarn e2e install --no-immutable && yarn example install --no-immutable"
