name: Publish

on:
  workflow_dispatch:
    secrets:
      GH_TOKEN:
        required: true
      NPM_TOKEN:
        required: true

jobs:
  fast-checks:
    name: Build + Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          project-path: shells/minimal/devbox.json
          enable-cache: 'false'
      - name: build
        run: devbox run --config=shells/minimal/devbox.json build

  e2e-ios:
    name: E2E iOS (min/max)
    strategy:
      matrix:
        include:
          - name: ios-min
            target: min
          - name: ios-latest
            target: max
    uses: ./.github/workflows/ios-e2e.yml
    with:
      target: ${{ matrix.target }}
    secrets: inherit

  e2e-android:
    name: E2E Android (min/max)
    strategy:
      matrix:
        include:
          - name: android-min
            target: min
          - name: android-latest
            target: max
    uses: ./.github/workflows/android-e2e.yml
    with:
      target: ${{ matrix.target }}
    secrets: inherit

  publish:
    name: Publish to npm
    environment: Publish
    needs: [fast-checks, e2e-ios, e2e-android]
    runs-on: ubuntu-latest
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - name: devbox installer
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          project-path: shells/minimal/devbox.json
          enable-cache: 'false'

      - name: Config, Build, Release
        run: devbox run --config=shells/minimal/devbox.json release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Update Apps
        run: |
          devbox run update-apps
